body {
  margin: 0px;
}

canvas {
  background-image: url("https://wallpaperaccess.com/full/15525217.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
  margin: 20px;
}

img {
  display: none;
}
